body {
  background-color: #000000;
  margin: 0;
  padding: 0;
  font-family: Arial;
  overflow-x: hidden;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


.contenido {
  position: relative;
  z-index: 1;
  padding-top: 20px;
}

.navbar {
  z-index: 1000;
}

.card {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(255, 87, 51, 0.3);
}



.card-header {
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #ff5733;

}

.btn-danger {
  color: #000000;
  background-color: #ff5733;
  border-color: #000000;
  transition: background-color 0.3s ease;

}

.btn-danger:hover {
  background-color: #ff1a00;
  border-color: #000000;
}

.icon-wrapper i {
  font-size: 2.5rem;
  color: #ff5733;
}

.navbar-brand span.display-1 {
  color: rgb(59, 160, 46);
}


